{
    "extends": "eslint:recommended",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "requireConfigFile": false,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true
            }
        ],
        "indent": [
            "error",
            4
        ]
    }
}