<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <title>DEV.THEYMADE</title>
    <link rel="stylesheet" href="/root.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet"/>
    <script defer src="/src/pages/main/index.js"></script>
  </head>
  <body>
    <header>
      <div class="brand">
        <img class="logo"
             src="/images/main_logo.svg"
             alt="Companie's Logo"/>
        <p>Professional web development since 2010</p>
      </div>
      <article>
        <p class="intro">
          Hello! We are a professional team of web developers. 
          We have a vast experience of working on complex projects. 
          We work with clients from the USA, Europe, and Asia. 
          If you are reading this, you have probably been recommended to us.
        </p>
        <p class="stack">
          <strong>Stack:</strong>
          Redux, Redux-Saga, Webpack, SCSS, Jest, Typescript, Node.js, Nest.js,
          Express.js, React, Mobx, Tree.js, Canvas, Microservice architecture,
          Fat client, 3D, 2D
        </p>
      </article>
    </header>
    <section class="experience">
      <h2>Our experience and works</h2>
      <div class="wrapper"
        id="project-list"></div>
      <div class="much-more">And much more coming ...</div>
    </section>
    <section class="about">
      <h2>How we work</h2>
        <p>
          As a rule, we receive a job request, clarify the details of your task, 
          and then we arrange the first joint call to get to know each other and discuss your task.
          Within 1-2 days after the call, we provide you with an estimated time for completing the job.
        </p>
        <p>
          If we agree to collaborate, we will start working at the agreed-upon time.
        </p>
        <p>
          <strong>The result will be delivered on time.</strong> <br />
          We are aware of the weak spot in the industry (missed deadlines and production losses)
          and we care about our reputation, so we work carefully with deadlines and agreements.
        </p>
    </section>
    <section class="contacts">
      <h2>Our clients</h2>
      <div class="clients_wrap">
        <div class="logo_img">
          <img src="/images/Caveat_cut.svg"
               alt="Caveat Logo"/>
                <p>Frontend, extension of the functionality of the administrative control panel (CMS).</p>
        </div>
        <div class="logo_img">
          <img
            src="/images/Veneer_cut.svg"
            alt="Veneer Logo"/>
                <p>Frontend, setting up communication with the backend (Ruby), deployment optimization.</p>
        </div>
        <div class="logo_img">
          <img
            src="/images/Kinopoisk_cut.svg"
            alt="Kinopoisk Logo"/>
                <p>Frontend and backend from scratch, widgets, applications for Smart TVs.</p>
        </div>
        <div class="logo_img">
          <img
            src="/images/Master_Delivery_cut.svg"
            alt="Master Delivery Logo"/>
                <p>Frontend, project architecture design and optimization.</p>
        </div>
        <div class="logo_img">
          <img
            src="/images/Yandex_TV_cut.svg"
            alt="Yandex TV Logo"/>
                <p>Frontend, backend, frontend support of the service.</p>
        </div>
        <div class="logo_img">
          <img
            src="/images/You_Do_cut.svg"
            alt="You Do Logo"/>
                <p>Frontend, backend, user interface (UI), user experience (UX), creative design.</p>
        </div>
      </div>
    </section>
    <section class="email">
          <p>Please tell us about your task, we will be happy to help.</p>
            <a href="mailto:dev@theymade.com" target="_blank"">
              <img class="email_logo"
                  src="/images/LOGO EMAIL.svg"
                  alt="Email Logo"/>
            </a>
    </section>
    <footer>
      <div class="footer">
         <span id="copyright">&copy 2023 DEV.THEYMADE &nbsp;</span>
          <a href="mailto:dev@theymade.com" target="_blank"
          id="email">dev@theymade.com</a>
          <a href="#" id="logo_img">
          <img
              src="/images/footer_logo.svg"
              alt="Logo"/>
          </a>
        <span id="jobs_intern">For jobs / internships:&nbsp;</span>
          <a href="mailto:"
             id="email_jobs">mailbox@theymade.com</a>
      </div>
    </footer>
  </body>
</html>