<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="DEV.THEYMADE.COM does (non-trivial) front-end and back-end development. We work on projects for our clients from the USA, Europe, Asia and CIS countries."/>
    <meta name=”robots” content="index, follow"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet"/>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(93173401, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93173401" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMST5DG0DK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BMST5DG0DK');
  </script>
  <body>
    <header>
      <div class="brand">
        <a class="main-page-link" href="/">
          <img
            class="logo"
            src="/images/main_logo.svg"
            alt="Companie's Logo"
          />
        </a>
        <p>Professional web development since 2010</p>
      </div>
    </header>
    <div id="project-content"></div>
    <section class="email">
      <p>Please tell us about your task, we will be happy to help:</p>
      <a href="mailto:dev@theymade.com">
        <img
          class="email_logo"
          src="/images/LOGO EMAIL.svg"
          alt="Email Logo"
        />
      </a>
    </section>
    <footer>
      <div class="footer">
        <span id="copyright">&copy 2023 DEV.THEYMADE &nbsp;</span>
        <a href="mailto:dev@theymade.com" target="_blank" id="email">dev@theymade.com</a>
        <a id="logo_img" href="/index.html">
          <img src="/images/footer_logo.svg" alt="Logo"/>
        </a>
        <span id="jobs_intern">For jobs / internships:&nbsp;</span>
        <a href="mailto:mailbox@theymade.com" id="email_jobs">mailbox@theymade.com
        </a>
      </div>
    </footer>
  </body>
</html>
