<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <title>Info</title>
    <link rel="stylesheet"
          href="/root.css"/>
    <link rel="stylesheet"
          href="/info.css"/>
    <link rel="preconnect"
          href="https://fonts.googleapis.com"/>
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600;700&display=swap"
          rel="stylesheet"/>
    <script type="module" src="/src/pages/info/info.js"></script>
  </head>
  <body>
    <header>
      <div class="brand">
        <a href="/index.html">
          <img class="logo"
               src="/images/main_logo.svg"
               alt="Companie's Logo"/>
        </a>
        <p>Professional web development since 2010</p>
      </div>
    </header>
    <div id="project-content"></div>
    <section class="email">
      <p>Please tell us about your task, we will be happy to help.</p>
      <a href="mailto:">
        <img class="email_logo"
             src="/images/LOGO EMAIL.svg"
             alt="Email Logo"/>
      </a>
    </section>
    <footer>
      <div class="footer">
        <span id="copyright">&copy 2023 DEV.THEYMADE &nbsp;</span>
        <a href="mailto:dev@theymade.com" 
           target="_blank" 
           id="email">dev@theymade.com</a>
        <a id="logo_img"
           href="/index.html">
          <img src="/images/footer_logo.svg"
               alt="Logo"/>
        </a>
        <span id="jobs_intern">For jobs / internships:&nbsp;</span>
        <a href="mailto:"
           id="email_jobs">mailbox@theymade.com
        </a>
      </div>
    </footer>
    <script src="/src/pages/main/main.js"></script>
  </body>
</html>
