* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 9.8vh 0 0;
    overflow-x: hidden !important;
}
header,
.brand,
.experience,
.about,
.email {
    max-width: 844px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 26.3vw;
}

.brand p {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    color: #3799e0;
    margin: 1rem 0 5rem;
    text-align: center;
}
h2 {
    font-family: "Aleo", serif;
    font-weight: 700;
    font-size: 2.6rem;
    margin-top: 6.2rem;
    margin-bottom: 2.5rem;
}
p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}
.email p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 7.8rem 0 2.8rem;
}
.email_logo {
    margin-bottom: 9rem;
}
footer {
    background-color: #efefef;
    width: 100vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
}
footer img {
    width: 12vw;
}
#copyright {
    justify-self: flex-end;
}
#jobs_intern {
    justify-self: flex-end;
}
#logo_img {
    justify-self: center;
}
#email_jobs {
    justify-self: flex-start;
    text-decoration: underline;
}
#email {
    justify-self: flex-start;
    text-decoration: underline;
}
#email:link,
#email_jobs:link {
    color: black;
}

/* IPad Mini*/
@media only screen and (max-width: 994px) {
    body {
        padding: 6.25rem 0 0;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    header,
    .experience,
    .about {
        padding: 0 4.6rem 0;
    }
    .brand img {
        width: 47vw;
    }
    .brand p {
        margin: 1.5rem 0 4rem;
    }
    h2 {
        font-size: 2.1rem;
    }
    .experience h2 {
        margin: 0 0 3rem;
    }
    .experience p {
        font-size: 1.1rem;
        margin: 0;
        line-height: 1.75rem;
    }
    .much-more {
        font-size: 1.3rem;
        font-weight: 700;
        border: 2px solid #9ccdf0;
        border-radius: 100px;
        padding: 15px 20px 15px 25px;
        width: 20rem;
        margin-bottom: 5.9rem;
    }

    .email img {
        width: 62vw;
        margin: 0 0 5.9rem;
    }
    .email p {
        font-size: 1rem;
        text-align: center;
        padding-top: 5rem;
    }
    .footer {
        font-size: 1.5vw;
    }
    footer img {
        width: 18vw;
    }
    #email {
        justify-content: flex-start;
    }
}
/* Mobile */
@media only screen and (max-width: 580px) {
    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    header,
    .experience,
    .about,
    .support,
    .process,
    .email {
        padding: 0 2.2rem;
    }
    .brand img {
        width: 63vw;
    }
    .brand p {
        padding: 1rem 0 3.5rem;
        margin: 0;
    }
    .brand p {
        font-size: 1rem;
        text-align: center;
    }
    h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    .experience h2 {
        margin-bottom: 2rem;
    }
    .email p {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 5rem 0 1.5rem;
        margin-bottom: 0;
    }
    .email img {
        width: 81vw;
        padding-bottom: 5rem;
        margin-bottom: 0;
    }
    footer {
        height: auto;
    }
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 0.8rem;
        line-height: 1.1rem;
        padding: 0;
    }
    footer img {
        width: 33vw;
    }

    #copyright {
        order: 5;
        padding-bottom: 2.5rem;
        align-self: center;
    }
    #email {
        order: 1;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        align-self: center;
        margin: 0;
    }
    #logo_img {
        order: 4;
        padding-bottom: 0.9rem;
        align-self: center;
    }
    #jobs_intern {
        order: 2;
        justify-content: center;
    }
    #email_jobs {
        order: 3;
        padding-bottom: 3.75rem;
        justify-content: center;
    }
}
